<div class="d-flex align-items-center gap-2 flex-wrap">
  <label class="fw-semibold me-2 mb-1">Estado:</label>

  <!-- Se o pedido estiver cancelado, não mostra o botão nem o select -->
<div *ngIf="currentStatus !== 'cancelled'" class="d-flex align-items-center gap-2 flex-wrap">

  <select
    [(ngModel)]="selectedStatus"
    class="form-select form-select-sm w-auto mb-1">
    <option *ngFor="let s of statuses" [value]="s">
      {{ traduzirStatus(s) }}
    </option>
  </select>

  <button
    *ngIf="selectedStatus !== currentStatus"
    class="btn btn-outline-primary btn-sm mb-1"
    (click)="changeStatus()">
    Guardar
  </button>
</div>

</div>
