<div class="container mt-5">
  <h2 class="text-secondary">👥 Gestão de Utilizadores</h2>
  <p>Aqui o administrador pode visualizar, editar ou remover utilizadores.</p>

  <div class="table-responsive mt-4" *ngIf="users.length > 0; else semUtilizadores">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Tipo</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.nomeCompleto }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role || 'cliente' }}</td>
          <td>
            <button (click)="remover(user._id)" class="btn btn-sm btn-danger">🗑️</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #semUtilizadores>
    <div class="alert alert-warning text-center mt-4">
      Nenhum utilizador encontrado.
    </div>
  </ng-template>

  <a class="btn btn-outline-secondary mt-5" (click)="voltar()">
  ⬅️ Voltar para o Painel de Administração
  </a>

</div>
