<%- include('partials/header') %>

<h1 class="text-center">Login</h1>

<% if (error) { %>
  <div class="alert alert-danger text-center"><%= error %></div>
<% } %>

<div class="container">
  <main class="form-signin text-center mx-auto" style="max-width: 400px;">

    <form id="login-form" action="/login" method="POST">
      <img class="mb-4" src="/images/login.png" alt="login" width="80">
      <h1 class="h3 mb-3 fw-normal">Autenticação</h1>

      <div class="mb-3">
        <input type="text" class="form-control" id="username"
               name="username" placeholder="Nome de utilizador" required>
      </div>

      <div class="input-group mb-3">
        <input type="password" class="form-control" id="tb-password"
               name="password" placeholder="Senha..." required>
               <button class="btn btn-outline-secondary" type="button" id="button-show-psw">
                <i class="fas fa-eye-slash" id="icon-eye"></i>
              </button>
              
      </div>

      <button class="w-100 btn btn-primary" type="submit">Entrar</button>
      <p class="mt-1 mb-3 text-muted"><small>2025 - PAW TP</small></p>
    </form>

  </main>
</div>

<%- include('partials/footer') %>
