<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <title>Lista de Restaurantes</title>
</head>
<body>
  <h1>Restaurantes Registados</h1>

  <ul>
    <% restaurantes.forEach(rest => { %>
      <li>
        <strong><%= rest.name %></strong> — <%= rest.email %>
        [<a href="/restaurants/<%= rest._id %>/add-menu">Adicionar Prato</a>]
      </li>
    <% }) %>
  </ul>
</body>
</html>
