body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.card {
  border-radius: 12px;
  overflow: hidden;
}

.card-header {
  padding: 1rem 1.5rem;
}

.card-body p {
  margin-bottom: 0.5rem;
  font-size: 16px;
}

.badge.bg-secondary {
  text-transform: uppercase;
  font-size: 12px;
  padding: 6px 12px;
}

h5 {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
  color: #bbbbbb;
}

.diagonal-image-container {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.diagonal-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Primeira img cima */
.diagonal-image.top {
  /* clip-path: polygon(1% 19%, 17% 20%, 20% 18%, 27% 18%, 31% 16%, 38% 16%, 38% 19%, 37% 20%, 97% 21%, 100% 24%, 100% 43%, 100% 72%, 92% 73%, 93% 66%, 86% 49%, 84% 52%, 65% 51%, 67% 55%, 64% 54%, 54% 72%, 39% 87%, 33% 92%, 23% 78%, 33% 68%, 39% 59%, 44% 51%, 46% 41%, 30% 41%, 26% 44%, 1% 40%); */
  /* clip-path: polygon(0 0, 0 100%, 100% 10%, 10% 100%, 100% 0,); */
  /* clip-path: polygon(0 0, 0 100%, 100% 0%); */
  clip-path: polygon(0 0, 89.3% 0, 9.3% 100%, 0 100%);
}

/* Segunda img baixo */
.diagonal-image.bottom {
  /* clip-path: polygon(100% 10%, 100% 100%, 10% 100%); */
  /* clip-path: polygon(100% 0%, 100% 100%, 0% 100%); */
  clip-path: polygon(100% 0, 90.7% 0, 10.7% 100%, 100% 100%);
  z-index: 0;
}


