body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.card {
  border-radius: 12px;
  overflow: hidden;
}

.card-header {
  padding: 1rem 1.5rem;
}

.card-body p {
  margin-bottom: 0.5rem;
  font-size: 16px;
}

.badge.bg-secondary {
  text-transform: uppercase;
  font-size: 12px;
  padding: 6px 12px;
}

h5 {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
  color: #bbbbbb;
}

.diagonal-image-container {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.diagonal-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Primeira img cima */
.diagonal-image.top {
  /* clip-path: polygon(1% 19%, 17% 20%, 20% 18%, 27% 18%, 31% 16%, 38% 16%, 38% 19%, 37% 20%, 97% 21%, 100% 24%, 100% 43%, 100% 72%, 92% 73%, 93% 66%, 86% 49%, 84% 52%, 65% 51%, 67% 55%, 64% 54%, 54% 72%, 39% 87%, 33% 92%, 23% 78%, 33% 68%, 39% 59%, 44% 51%, 46% 41%, 30% 41%, 26% 44%, 1% 40%); */
  /* clip-path: polygon(0 0, 0 100%, 100% 10%, 10% 100%, 100% 0,); */
  /* clip-path: polygon(0 0, 0 100%, 100% 0%); */
  clip-path: polygon(0 0, 89.3% 0, 9.3% 100%, 0 100%);
  /* clip-path: polygon(1% 49%, 54% 48%, 61% 48%, 61% 46%, 59% 46%, 56% 48%, 50% 47%, 50% 42%, 54% 42%, 60% 44%, 65% 43%, 64% 40%, 68% 41%, 67% 43%, 81% 43%, 81% 47%, 71% 46%, 71% 48%, 77% 48%, 78% 51%, 88% 51%, 89% 50%, 100% 50%, 100% 62%, 98% 62%, 98% 59%, 93% 59%, 88% 62%, 83% 64%, 79% 64%, 78% 58%, 73% 59%, 70% 57%, 69% 60%, 63% 59%, 62% 57%, 55% 55%, 44% 55%, 41% 57%, 18% 57%, 18% 55%, 37% 55%, 34% 55%, 34% 51%, 8% 52%, 2% 52%); */

}

/* Segunda img baixo */
.diagonal-image.bottom {
  /* clip-path: polygon(1% 19%, 17% 20%, 20% 18%, 27% 18%, 31% 16%, 38% 16%, 38% 19%, 37% 20%, 97% 21%, 100% 24%, 100% 43%, 100% 72%, 92% 73%, 93% 66%, 86% 49%, 84% 52%, 65% 51%, 67% 55%, 64% 54%, 54% 72%, 39% 87%, 33% 92%, 23% 78%, 33% 68%, 39% 59%, 44% 51%, 46% 41%, 30% 41%, 26% 44%, 1% 40%); */
  /* clip-path: polygon(100% 10%, 100% 100%, 10% 100%); */
  /* clip-path: polygon(100% 0%, 100% 100%, 0% 100%); */
  clip-path: polygon(100% 0, 90.7% 0, 10.7% 100%, 100% 100%);
  /* clip-path: polygon(1% 49%, 54% 48%, 61% 48%, 61% 46%, 59% 46%, 56% 48%, 50% 47%, 50% 42%, 54% 42%, 60% 44%, 65% 43%, 64% 40%, 68% 41%, 67% 43%, 81% 43%, 81% 47%, 71% 46%, 71% 48%, 77% 48%, 78% 51%, 88% 51%, 89% 50%, 100% 50%, 100% 62%, 98% 62%, 98% 59%, 93% 59%, 88% 62%, 83% 64%, 79% 64%, 78% 58%, 73% 59%, 70% 57%, 69% 60%, 63% 59%, 62% 57%, 55% 55%, 44% 55%, 41% 57%, 18% 57%, 18% 55%, 37% 55%, 34% 55%, 34% 51%, 8% 52%, 2% 52%); */

  z-index: 0;
}


