<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
  <a class="navbar-brand text-white fw-bold" href="/">🍽️ Restaurantes</a>

  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <ng-container *ngIf="isLoggedIn; else guestLinks">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="userDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="bi bi-person-circle"></i> {{ user?.nomeCompleto || 'Utilizador' }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" routerLink="/profile">Ver Perfil</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item text-danger" (click)="logout()">Terminar Sessão</a></li>
          </ul>
        </li>
      </ng-container>

      <ng-template #guestLinks>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login"><i class="bi bi-box-arrow-in-right"></i> Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register"><i class="bi bi-person-plus"></i> Criar Conta</a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
