<div class="comment-section">
    <h4>Comentários</h4>

    <div *ngFor="let c of comments" class="comment">
        <p><strong>{{ c.user?.username || 'Anónimo' }}:</strong> {{ c.text }}</p>
        <img *ngIf="c.image" [src]="'http://localhost:3000/images/comments/' + c.image" width="100">
    </div>

    <form (ngSubmit)="submitComment()">
        <textarea [(ngModel)]="commentText" name="text" rows="3" placeholder="Escreve um comentário..."></textarea><br>
        <input type="file" (change)="onFileSelected($event)"><br>
        <button type="submit">Enviar</button>
    </form>
</div>