.card-img-top {
  height: 200px;
  object-fit: cover;
}
.card {
  min-height: auto;
  font-size: 0.95rem;
  overflow: hidden;
}
.card .card-title {
  font-size: 1.1rem;
  font-weight: 600;
}
.card .card-body {
  padding-bottom: 0 !important;
}


